doctype html
html(lang="zh-CN")
    head
        meta(charset="UTF-8")
        title index
        link(href="../static/css/cropping.css",rel="stylesheet")
    body
        input(type="file", id="file")

        script(src="../static/js/jquery-1.11.3.min.js")
        script(src="../static/js/jquery.intcss.js")
        script(src="../static/js/jquery.drag.js")
        script(src="../static/js/jquery.zoom.js")
        script(src="../static/js/jquery.mousewheel.min.js")
        script(src="../static/js/jquery.cropping.js")
        script.
            $("#file").cropping();
